.t1{
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    min-height: calc(100vh - 70px);
}
*{font-family: 'Times New Roman', Times, serif;}
.timetable {
    margin-left:30px;
    background-color: rgba(241, 234, 234, 0.75);
    padding: 20px;
    border-radius: 15px;
    width: 1500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    max-height: auto;
    height: 1200px;

}

.timetable h1 {
    text-decoration: underline;
    color: #2a2a2a; 
    text-shadow: 0 0 10px white;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.timetable table {
    width: 80%; 
    margin-top: 20px;
    margin-left: 100px;
}

.timetable th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 20px;
}

.timetable th {
    text-align: center;
    background-color: rgb(197, 244, 139);
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.timetable button {
    display: inline;
    text-align: center;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: rgb(197, 244, 139);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-left: 400px;
}

.timetable butt:hover {
    background-color: rgb(197, 244, 139);
}